* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.8rem;
  margin: 10px;
  padding: 10px;
  background-color: blueviolet;
  border-radius: 12px;
}
